.container-fluid{
    background-color: rgba(243, 217, 240, 0.911);
    position: absolute;
    height: 100%;
    width: 60%;
 
    left: 40%;
   
}
h2{
	 position: absolute;
	 top:2%;
	 left:20%;
}
.container-fluid input{
	
	width:50%;
	 top:100px;
 height: 40px;
   position: relative;
   left:40%;
}
.container-fluid label{
	
	
   position: relative;
   top:140px;
   left:10%;
}
.container-fluid button{
	position: relative;
	left:33%;
	 background-color:blue;
	 color:white;
	 top:110px;
}
#cancelar{
	position: relative;
	left:40%;
	 top:110px;
}
#imagen{
	 position: absolute;
	 top:30%;
	 left:5%;
	 height: 50%;
	  width: 30%;
	 
}