<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/bienvenido.css}">
</head>
<body>
	<div id="wrapper">

		<ul class="navbar-nav sidebar sidebar-dark accordion"
			id="accordionSidebar" style="background-color: #70dab1;" >
			<a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/matricula}">
				<div class="sidebar-brand-icon">
					
				</div>
				<img class="ae" th:src="@{/img/salud.png}" style="width: 20%; height: 150%; margin: auto; position: relative;
	left:24px; "></img>
				<div class="sidebar-brand-text mx-3" id="ae">Design it</div>
			</a>

			<hr class="sidebar-divider my-0">
			<li class="nav-item"><a class="nav-link collapsed" href="#"
				data-target="#collapseTwo" aria-expanded=true
				aria-controls="collapseTwo"> <i class="fas fa-fw fa-cog"></i> <span>Administracion</span>
			</a>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item"
							th:href="@{/customer/}">Cliente</a>
					</div>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item"
							th:href="@{/planner/}">Prestador</a>
					</div>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item"
							th:href="@{/event/listar}">Evento</a>
					</div>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item"
							th:href="@{/eventPlanner/listar}">Agregar Evento</a>
					</div>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" th:href="@{/payment/listar}">Pago</a>
					</div>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item"
							th:href="@{/paymentMethod/listar}">Metodo de Pago</a>
					</div>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item"
							th:href="@{/review/listar}">Resena a Prestador</a>
					</div>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item"
							th:href="@{/request/listar}">Solicitar Evento</a>
					</div>
				</div>