<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<head >
<link rel="stylesheet" th:href="@{/css/ingreso.css}">
</head>

    <body>
<div id="cuadro">
 <img th:src="@{/img/img5.svg}">
   <a href="@{/planner/bienvenido}" class="btn btn-danger">Cliente</a>
</div>
<div id="cuadro1">
   <img th:src="@{/img/img6.svg}">
    <a href="@{/planner/bienvenido3}" type="button"class="btn btn-danger"> Prestamista</a>
</div>
<div id="cuadro2">
  <img th:src="@{/img/img7.svg}">
    <a href="@{/customer/bienvenido}" type="button"class="btn btn-danger"> Administrador</a>
</div>


    </body>