

<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<title>Inicio</title>

<link rel="stylesheet" th:href="@{/css/style_landing.css}">
<link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>



<body>
<header class="hero">
    <nav class="nav__hero">
        <div class="container nav__container">
            <div class="logo">
                <h2 class="logo__name">Design It<span class="point">.</span></h2>
            </div>
            <div class="links">
                <a href="@{/landing}" class="link link--active">Inicio</a>
                <a href="@{/nosotros}" class="link">Nosotros</a>
                <a href="#" class="link">Contacto</a>
            </div>
        </div>
    </nav>


        <section class="container hero__main">
            <div class="hero__textos">
                <h1 class="title"> <span class="title--active">Design It</span></h1>
                <p class="copy">Aquí encontraras todo lo que necesitas para tus eventos o también podrás ofrecer tus servicios a todos para que puedan conocer mas sobre tu negocio, asi que no esperes mas y <span class="copy__active">Resgistrate</span></p>

            </div>
            <img th:src="@{/img/2.jpg}" class="mockup">
        </section>
    </header>

    <main>
        <section class="services">
            <div class="container">

                <h2 class="subtitle"><span class="point">¿Como funciona?</span></h2><br>
                <p class="copy__section">Solo debes seguir tres sencillos pasos que veras a conitnuación:</p>

                <article class="container-cards">
                    <div class="card">
                        <img th:src="@{/img/cliente.jpeg}" class="card__img">
                        <div class="cards__text">
                            <p class="card__list">Podras hacer muchas cosas como </p>
                            <h3 class="card__title">Cliente<span class="point"></span></h3>
                            <p class="card__copy">1. Buscar el servicio que necesites para tu evento en base a tus preferencias</p>
                            <p class="card__copy">2. Selecciona el que mejor te parezca y envía tu solicitud para que te realice un presupuesto mas detallado</p>
                            <p class="card__copy">3. Acepta el de tu preferencia, realiza el pago y ya estarás lsito para tu evento</p><br>
                            <a th:href="@{/welcome/ae}" class="card__button">Ingresar</a>
                        </div>
                    </div>
                    <div class="card">
                        <img th:src="@{/img/prestador.jpg}" class="card__img">
                        <div class="cards__text">
                            <p class="card__list">Podras hacer muchas cosas como</p>
                            <h3 class="card__title">Contratista<span class="point"></span></h3>
                            <p class="card__copy">1. Escoge el área en el que ofreceras tu servicio, pueden ser de una a mas</p>
                            <p class="card__copy">2. Selecciona el que mejor te parezca y envía tu solicitud para que te realice un presupuesto mas detallado</p>
                            <p class="card__copy">3. Acepta el de tu preferencia, realiza el pago y ya estarás lsito para tu evento</p><BR>
                            <a href="@{/welcome/ae}" class="card__button">Ingresar</a>
                        </div>
                    </div>

                </article>
            </div>
        </section>



        <section class="email container container--modifier">
            <h2 class="subtitle subtitle--modifier">Somos tu mejor opción para organizar tu evento <span class="point">.</span></h2>

            <p class="copy__section copy__section--modifier">Encontraras diversas opciones para escoger para tu evento, ademas, informacion detallada</p>

            <div class="check">
                <div class="check__item">
                    <i class='bx bx-check' ></i>
                    <div class="check__numbers">
                        <p class="check__number">+200</p>
                        <p class="check__copy">Eventos exitosos</p>
                    </div>
                </div>
                <div class="check__item">
                    <i class='bx bx-check' ></i>
                    <div class="check__numbers">
                        <p class="check__number">+200</p>
                        <p class="check__copy">Eventos exitosos</p>
                    </div>
                </div>
                <div class="check__item">
                    <i class='bx bx-check' ></i>
                    <div class="check__numbers">
                        <p class="check__number">+200</p>
                        <p class="check__copy">Eventos exitosos</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="container footer__caption">

            <section class="get-email">
                <h3 class="title__footer">¿Estás listo para trabajar con nosotros?</h3>
                <form class="newsletter newsletter--modifier">
                    <input type="text" class="newsletter__input" placeholder="Ingresa tu email">
                    <input type="submit" class="newsletter__submit" value="Comienza hoy">
                </form>
                <div class="socialmedia">
                    <p class="socialmedia__legend">Siguenos en:</p>
                    <i class='socialmedia__icon bx bxl-facebook-circle'></i>
                    <i class='socialmedia__icon bx bxl-linkedin-square'></i>                                                                                                        
                    <i class='socialmedia__icon bx bxl-twitter' ></i>   
                    <i class='socialmedia__icon bx bxl-instagram' ></i>
                    <i class='socialmedia__icon bx bxl-github' ></i>  
                </div>
            </section>
        </div>


    </footer>
</body>
</html>